.decrease,
.increase{
  cursor: pointer;
  font-weight: 900;
  user-select: none;
  transition: all .2s;
  &:hover{
    transform: scale(1.2);
    color: #202064;
  }
}
.checkout-wrap{
  background: #f8f5f5;
  padding: 20px;
}
