%link-style{
    text-decoration: none;
    color: white;
}
.subtitle{
    @extend %link-style;
    background: rgb(219, 117, 41);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    transition: background .2s;
    padding: 3px 3px;
    &:hover {
        @extend %link-style;
        background: rgb(255, 169, 62);
    }
}
