.dropdown-toggle{
  cursor: pointer;
 &::after{
   display: none;
 }
}
.dropdown-menu {
  min-width: 300px;
  max-height: 450px;
  box-shadow: 0 6px 20px -5px #bacbd6;
  border-radius: 4px;
 &.show{
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }
}
