.navbar {
  padding-top: 0;
  padding-bottom: 0;
  .navbar-brand{
    font-family: 'Train One', cursive;
    font-size: 25px;
    font-weight: 900;
    padding: 0;
  }
  background: rgb(80, 131, 179);
  background: linear-gradient(
                  96deg, rgba(80, 131, 179, 0.92) 0%, rgba(174, 86, 217, 0.95) 50%, rgba(201, 30, 100, 0.86) 100%);
  box-shadow: 0 0 18px -2px #3c3c3c;

  .dropdown-toggle {
    cursor: pointer;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 300px;
    max-height: 450px;
    box-shadow: 0 6px 20px -5px #bacbd6;
    border-radius: 4px;

    &.show {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

}

.pointer {
  cursor: pointer;
}
